body{
    text-align: center;
}
#mynavbar{
    position: sticky;
    top: 0;
    z-index: 99999;
}
#marqueeStyle{
    background-color: blue;
    color: white;
}
.line{
    height: 6px;
    width: 70px;
    background-color:  black;
    margin: 8px auto;
}